.footer{
    /* margin-top: 1rem; */
    padding: 1rem;
    background-color: rgb(235, 195, 64);
    /* position: fixed; */
    /* bottom: 0;
    left: 0; */
    width: 100%;
    box-sizing: border-box;
    background-image: linear-gradient(to right, #ff9966, #ff5e62);

  }
